.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Files used when Updating and Testing
TestFiles/*
# Used for internal docker repo for testing only
Image/push.sh
# Not Required due to internal testing requirements
ComposeFiles/.env
